{# src/OC/PlatformBundle/Resources/view/Advert/view.html.twig #}

{# src/OC/PlatformBundle/Resources/views/Advert/add.html.twig #}

{% extends "WEBLoveLetterBundle::layout.html.twig" %}

{% block ocplatform_body %}
    <script src="{{ asset('bundles/webloveletter/js/adversaire.js') }}"></script>
    <div class="element"></div>
    <div class="element">
        <a class="element"><img src="{{ asset (regle[0].image) }}"></a>
        <a class="element"><img src="{{ asset (regle[1].image) }}"></a>
        <a class="element"><img src="{{ asset (regle[2].image) }}"></a>
    </div>
    <div class="element"></div>
    <div class="adversaire"></div>
    <div class="plateau">
       <a class="piocher"><img src="{{ asset ('bundles/webloveletter/img/cartes/pioche.png') }}"></a>
        {% if not defausse == null %}
            <a><img src="{{ asset (defausse.image) }}"></a>
        {% endif %}
    </div>
    <div class="main"></div>
    <div class="carte1"></div>
    <div class="carte2"></div>
    <div class="element"></div>
    <div class="element"></div>
    <div class="element"></div>
{% endblock %}