{# src/OC/PlatformBundle/Resources/view/Advert/view.html.twig #}

{# src/OC/PlatformBundle/Resources/views/Advert/add.html.twig #}

{% extends "WEBLoveLetterBundle::layout.html.twig" %}

{% block ocplatform_body %}
    <div class="element">
        <a class="element"><img src="{{ asset (regle[0].image) }}"></a>
        <a class="element"><img src="{{ asset (regle[1].image) }}"></a>
        <a class="element"><img src="{{ asset (regle[2].image) }}"></a>
    </div>
    <div class="element"></div>
    <div class="element">   <a class="element"><img src="{{ asset ('bundles/webloveletter/img/cartes/roi.png') }}"></a></div>
    <div class="plateau">
        <a href="{{ path("oc_platform_piocher") }}"><img src="{{ asset ('bundles/webloveletter/img/cartes/pioche.png') }}"></a>
        {% if not defausse == null %}
            <a href="" ><img src="{{ asset (defausse.image) }}"></a>
        {% endif %}
    </div>
    {% if not carte == null %}
        <a class="element"><img src="{{ asset (carte.image) }}"></a>
    {% else %}
        <div class="element"></div>
    {% endif %}
    <div class="element"></div>
    <div class="element"></div>


{% endblock %}