{# src/OC/PlatformBundle/Resources/view/Advert/view.html.twig #}

{# src/OC/PlatformBundle/Resources/views/Advert/add.html.twig #}

{% extends "WEBLoveLetterBundle::layout.html.twig" %}

{% block ocplatform_body %}
    <script src="{{ asset('bundles/webloveletter/js/adversaire.js') }}"></script>
    <script src="{{ asset('bundles/webloveletter/js/pioche.js') }}"></script>
    <div class="point-a">
        <p class="noma"></p>
        <p class="pointa"></p>
    </div>
    <div class="regle2">
        <a class="element"><img src="{{ asset (regle[0].image) }}"></a>
        <a class="element"><img src="{{ asset (regle[1].image) }}"></a>
        <a class="element"><img src="{{ asset (regle[2].image) }}"></a>
    </div>
    <div class="point-j">
        <p class="nomj"></p>
        <p class="pointa"></p>
    </div>
    <div class="adversaire"></div>
    <div class="plateau_global">
       <a class="piocher"><img src="{{ asset ('bundles/webloveletter/img/cartes/pioche.png') }}"></a>
        {% if not defausse == null %}
            <a class="defausse"><img src="{{ asset (defausse.image) }}"></a>
        {% endif %}
        <div class="plateau"></div>
    </div>
    <div class="main"></div>
    <div class="plateau-a"></div>
    <div class="element"></div>
    <div class="plateau-j"></div>
{% endblock %}